# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# Build / packaging
# ======================
build/
dist/
*.egg-info/
.eggs/

# ======================
# IDE / editor
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Runtime outputs (VERY IMPORTANT)
# ======================
resources/
output/
resources/output/
resources/input/**/processed/
tmp/
data/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Airflow (if later used)
# ======================
airflow/logs/
airflow/dags/__pycache__/

# ======================
# Secrets / configs
# ======================
.env
.env.*

*.xml
*.csv
*.txt
*.json
*.parquet
*.lock